# Python bytecode
engine/__pycache__/
engine/*.py[cod]
engine/*$py.class

entities/__pycache__/
entities/*.py[cod]
entities/*$py.class

scene/__pycache__/
scene/*.py[cod]
scene/*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Game specific
*.log
*.save 